#a directory where system-under-test is stored
sutSrcDir=/home/modulo/modulo/sut

# directory where scripts related to mongodb deployment are stored
deployScriptDir=/home/modulo/modulo/modulo-code/deploy/mongo

# duration to wait for commit to be completed after injecting an async operation
waitForCommitDuration=3000
# duration to wait for resync to be completed after starting nodes
waitForResyncDuration=3000
# method to wait for commit to be completed after injecting an async operation
#  (e.g. sleep, probe)
cwmMode=sleep
# method to wait for resync to be completed after starting nodes
#  (e.g. sleep, probe)
rwmMode=probe
