# number of asynchronous operation to inject
numAOP=1
# number of nodes to involve
numNode=3

# prefix of the directory path that schedule files are stored in
workloadDirNamePrefix=/home/modulo/modulo/scheduleGen/qcm/scheduleFile

# prefix of the directory path that the test will run based on
#  a subdirectory named based on the numAOP, numNode, system-under-test (SUT)
#  , version of SUT, version of strata will be created under it
workingDirPrefix=/home/modulo/modulo/experiment/mongodb

# type of the system-under-test (e.g. zookeeper, cassandra, ...)
sysType=MongoDB
# version of the system-under-test
sutVersion=3.0.0
# strata version used
strataVersion=0.1

# A configuration file for the system-under-test specific system controller
sutConfig=/home/modulo/modulo/deploy/mongo/mongodb-sys-ctr.config


