.classpath
.eclipse/
.project
.revision/
.settings/
build/
bin/
*.log
*.jar
!zookeeper-3.4.11.jar
!zookeeper-3.7.0-SNAPSHOT.jar
!log4j-1.2.16.jar
!slf4j-log4j12-1.6.1.jar
!slf4j-api-1.6.1.jar
lib/
*~
.gradle/
scheduleGen/
experiment/