# directory where system-under-test's source code is stored
sutSrcDir=/home/modulo/modulo/sut

# directory where scripts related to deployment are stored
deployScriptDir=/home/modulo/modulo/deploy/redis

# duration to wait for commit to be completed after injecting an async operation
waitForCommitDuration=3000
# duration to wait for resync to be completed after starting nodes
waitForResyncDuration=3000
# method to wait for commit to be completed after injecting an async operation
#  (e.g. sleep, probe)
cwmMode=probe
# method to wait for resync to be completed after starting nodes
#  (e.g. sleep, probe)
rwmMode=probe
