# number of asynchronous operation to inject
numAOP=5
# number of nodes to involve
numNode=3

# prefix of the directory path that schedule files are stored in
#workloadDirNamePrefix=/home/ben/project/strata/scheduleGen/scheduleFile
workloadDirNamePrefix=/home/ben/project/drmbt/scheduleGen/schedules_zk_3.4.11_q-c-drm/scheduleFile

# prefix of the directory path that the test will run based on
#  a subdirectory named based on the numAOP, numNode, system-under-test (SUT)
#  , version of SUT, version of strata will be created under it
#workingDirPrefix=/home/ben/project/strata
workingDirPrefix=/home/ben/experiment/zk_performance_measure

# type of the system-under-test (e.g. zookeeper, cassandra, ...)
sysType=zookeeper
# version of the system-under-test
sutVersion=3.4.11
# strata version used
strataVersion=0.1

# A configuration file for the system-under-test specific system controller
#sutConfig=/home/ben/workspace-neon2/Strata/deploy/zookeeper/zookeeper-sys-ctr.config
sutConfig=/home/ben/project/drmbt/drmbt-code/deploy/zookeeper/zookeeper-sys-ctr.config

