# number of asynchronous operation to inject
numAOP=1
# number of nodes to involve
numNode=3

# prefix of the directory path that schedule files are stored in
workloadDirNamePrefix=/home/moduloatc22user/modulo/scheduleGen/scheduleFile

# prefix of the directory path that the test will run based on
#  a subdirectory named based on the numAOP, numNode, system-under-test (SUT)
#  , version of SUT, version of strata will be created under it
workingDirPrefix=/home/moduloatc22user/experiment/zookeeper

# type of the system-under-test (e.g. zookeeper, mongodb, redis, ...)
sysType=zookeeper
# version of the system-under-test
sutVersion=3.4.11
# strata version used
strataVersion=0.1

# A configuration file for the system-under-test specific system controller
sutConfig=/home/moduloatc22user/modulo/deploy/zookeeper/zookeeper-sys-ctr.config

