# classpath to zookeeper jar
libClasspath=/home/modulo/modulo/sut/zookeeper-3.4.11.jar:/home/modulo/modulo/lib/log4j-1.2.16.jar:/home/modulo/modulo/lib/slf4j-log4j12-1.6.1.jar:/home/modulo/modulo/lib/slf4j-api-1.6.1.jar

# directory where scripts related to deployment are stored
deployScriptDir=/home/modulo/modulo/deploy/zookeeper

# duration to wait for commit to be completed after injecting an async operation
waitForCommitDuration=3000
# duration to wait for resync to be completed after starting nodes
waitForResyncDuration=3000
# method to wait for commit to be completed after injecting an async operation
#  (e.g. sleep, probe)
cwmMode=sleep
# method to wait for resync to be completed after starting nodes
#  (e.g. sleep, probe)
rwmMode=probe
